*{
    scroll-behavior: smooth;
}

:root{
    font-size: 16px;
    font-family: sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 300ms;
}
body{
    color: rgb(0, 0, 0);
    background-color: white;
    margin: 0;
    padding: 0;
    background: white;
}
body::-webkit-scrollbar{
    width: 0.25rem;
}
body::-webkit-scrollbar-track{
    background: #1e1e24;
}
body::-webkit-scrollbar-thumb{
    background: #6649b8;
}
.navbar{
    width: 5rem;
    height: 100vh;
    position: fixed;
    background: var(--bg-primary);
    transition: width 300ms ease;
    z-index: 5;
}

.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.nav-item{
    width: 100%;
}
.nav-item:last-child{
    margin-top: auto;
}
.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}
.nav-link:hover{
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}
.link-text{
    display: none;
}
.nav-link i{
    min-width: 2rem;
    margin: 0 1.5rem;
}
.navbar:hover{
    width: 16rem;
}
.navbar:hover+.main{
    margin-left: 16rem;
}
.navbar:hover .link-text{
    display: block;
}
.fas{
    color: #ff7eee;
}
.fas{
    transition: var(--transition-speed);
}
.logo{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}
.logo i{
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
}
.navbar:hover .logo i{
    transform: rotate(-540deg);
}
.main{
    /* relative to the font size of root size means 16*5px left */
    margin-left: 5rem;
    transition: all 300ms;
    align-items: center;
    align-content: center;
    background: chartreuse;
    height: 100%;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: chocolate;
}
.heading{
    height: 100%;
    width: 100%;
    background-image: url(https://cdn.hipwallpaper.com/i/98/58/q9gcxN.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-weight: bold;
}
.lot{
    width: 500px;
    height: 500px;
}
.middle{
    background-image: url(https://i.pinimg.com/originals/e2/1a/fb/e21afb504509afa126f338e8c89e7274.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-weight: bold;
    width: 100%;
}
.head{
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
    align-items: center;
    text-align: center;
}
.para{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    text-align: center;
    font-size: 25px;
}
.para i{
    font-size: 2em;
    cursor: pointer;
    color: black;
}
.middle{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.select-box{
    display: flex;
    width: 500px;
}
.select-box .option-container{
    background: rgb(65, 65, 65);
    color: #f5f6fa;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;
    order: 1;
}
.select-box{
    display: flex;
    flex-direction: column;
}
.selected{
    background: rgb(65, 65, 65);
    border-radius: 8px;
    margin-bottom: 8px;
    color: white;
    position: relative;
    order: 0;
}
.selected::after{
    content: "";
    background: url(http://assets.stickpng.com/images/58f8bcf70ed2bdaf7c128307.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 32px;
    right: 10px;
    top: 5px;
    transition: all 0.4s;
}
.select-box .option-container.active{
    max-height: 250px;
    opacity: 1;
    overflow-y: scroll;
}
.select-box .option-container.active + .selected::after{
    transform: rotateX(180deg);
    top: -6px;
}
.select-box .option-container::-webkit-scrollbar{
    width: 8px;
    background: #0d141f;
    border-radius: 0 8px 8px 0;
}
.select-box .option-container::-webkit-scrollbar-thumb{
    background: #525861;
    border-radius: 0 8px 8px 0;
}
.select-box .option,.selected{
    padding: 12px 12px;
    cursor: pointer;
}
.select-box .option:hover{
    background: #414b57;
}
.select-box .option .radio{
    display: none;
}
.select-box label{
    cursor: pointer;
}
.btn{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.pushable {
    background: hsl(340deg 100% 32%);
    margin: 0 20px;
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
  }
  .front {
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: hsl(345deg 100% 47%);
    color: white;
    transform: translateY(-6px);
  }

  .pushable:active .front {
    transform: translateY(-2px);
  }
  .container h2{
      font-size: 50px;
  }
  .container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
@media only screen and (max-width: 600px){
    body{
        height: 100%;
        width: 100vw;
    }
    .lot{
        width: 300px;
        height: 300px;
    }
    .navbar{
        top: 0;
        width: 100vw;
        height: 5rem;
        position: fixed;
        box-shadow: 0px 5px rgb(58, 58, 58);
    }
    .navbar:hover{
        width: 100vw;
    }
    .main{
        width: 100vw;
    }
    .content{
        background: #141418;
        width: 100vw;
        height: 100%;
        flex-direction: column;
    }
    .middle{
        flex-wrap: wrap;
        height: 100%;
    }
    .heading{
        flex-wrap: wrap;
        height: 100%;
    }
    .para{
        margin: 0;
    }
    .main{
        margin: 0;
        padding: 0;
        flex-wrap: wrap;
    }
    .navbar:hover+.main{
        margin: 0px 0px;
        margin-left: 0px;
    }
    .navbar:hover .link-text{
       display: none;
    }
    .logo{
        display: none;
    }
    .nav-item:last-child{
        margin-top: 0;
    }
    .nav-link{
        align-items: center;
    }
    .nav-link i{
        margin: 0;
    }
    .select-box{
        width: 80%;
    }
    .main{
        margin-top: 4.9rem;
        width: 100%;
    }
    .navbar-nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-shrink: 1;
        flex-basis: 1;
    }
    .nav-item{
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-basis: 1;
        flex-shrink: 1;
    }
    .link-text{
        display: none;
    }
    .btn{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .pushable{
        margin: 0;
        margin-top: 10px;
    }
}
@media only screen and (min-width: 600px){
.navbar{
    top: 0;
    width: 5rem;
    height: 100vh;
}
.navbar:hover{
    width: 16rem;
}
.navbar:hover .link-text{
    display: inline;
    transition: opacity var(--transition-speed);
}
.select-box{
    width: 500px;
}

}
