@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');
*{
    scroll-behavior: smooth;
    box-sizing: border-box;
   font-family: 'Roboto',sans-serif;
}

#loader{
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    overflow: visible;
    background: #0d141f url('animation_500_kpz3b0zr.gif') no-repeat 50% 50%;
    /* background-size: cover; */
}

:root{
    font-size: 16px;
    font-family: sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 300ms;
}
body{
    color: rgb(0, 0, 0);
    background-color: white;
    margin: 0;
    padding: 0;
    background: white;
    height: 100%;
    width: 100%;
}
body::-webkit-scrollbar{
    width: 0.25rem;
}
body::-webkit-scrollbar-track{
    background: #1e1e24;
}
body::-webkit-scrollbar-thumb{
    background: #6649b8;
}
.navbar{
    width: 5rem;
    height: 100vh;
    position: fixed;
    background: var(--bg-primary);
    transition: width 300ms ease;
    z-index: 5;
}

.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.nav-item{
    width: 100%;
}
.nav-item:last-child{
    margin-top: auto;
}
.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}
.nav-link:hover{
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}
.link-text{
    display: none;
}
.nav-link i{
    min-width: 2rem;
    margin: 0 1.5rem;
}
.navbar:hover{
    width: 16rem;
}
.navbar:hover+.main{
    margin-left: 16rem;
}
.navbar:hover .link-text{
    display: block;
}
.fas{
    color: #ff7eee;
}
.fas{
    transition: var(--transition-speed);
}
.logo{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}
.logo i{
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
}
.navbar:hover .logo i{
    transform: rotate(-540deg);
}
.main{
    /* relative to the font size of root size means 16*5px left */
    margin-left: 5rem;
    transition: all 300ms;
    align-items: center;
    align-content: center;
    background: chartreuse;
    display: flex;
    justify-content: center;
    height: 100%;
   min-height: 100vh;
    background-color: #000;
    opacity: 1;
    background-image:   radial-gradient(#474545 0.5px, rgb(31, 31, 31) 0.5px);
    background-size: 20px 20px;
    background-position: 0 0 10px 10px;
}
.navbar:hover+.main{
    margin-left: 16rem;
}
.wrapper{
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.wrapper h1{
    font-weight: bold;
    text-align: center;
    align-items: center;
    color: white;
}
::placeholder{
    color: white;
}
.search_box{
    background-color: #8f70ff;
    width: 80%;
    position: relative;
    padding: 15px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
/* .form-group{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
} */
.form-control{
    font-family: 'Montserrat',sans-serif;
    width: 100%;
    font-size: 20px;
    border-radius: 10px;
    height: 40px;
    background-color: #474545b4;
    color: white;
    border: none;
    outline: none;
}
#pushable{
    height: 35px;
    width: 60%;
    font-family: 'Montserrat',sans-serif;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    color: black;
    background-color: rgba(255, 255, 255, 0.788);
    transition: all 100ms ease-in-out;
    cursor: pointer;
  }
  #pushable:hover{
      color: white;
      background-color: #ff7eee;
  }
  .front {
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: hsl(345deg 100% 47%);
    color: white;
    transform: translateY(-6px);
  }
  .container h2{
      font-size: 50px;
  }
  .container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .search_btn i{
      font-weight: bold;
      color: white;
  }
@media only screen and (max-width: 600px){
    body{
        height: 100%;
        display: grid;
        grid-template-columns: 100%;
    }
    .navbar{
        top: 0;
        width: 100%;
        height: 5rem;
        position: fixed;
        box-shadow: 0px 5px rgb(58, 58, 58);
    }
    .navbar:hover{
        width: 100%;
    }
    .navbar:hover+.main{
        margin: 0px 0px;
        margin-left: 0px;
    }
    .navbar:hover .link-text{
       display: none;
    }
    .logo{
        display: none;
    }
    .nav-item:last-child{
        margin-top: 0;
    }
    .nav-link{
        align-items: center;
    }
    .nav-link i{
        margin: 0;
    }
    .navbar-nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-shrink: 1;
        flex-basis: 1;
    }
    .nav-item{
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-basis: 1;
        flex-shrink: 1;
    }
    .link-text{
        display: none;
    }
    .main{
        margin-top: 5rem;
        margin-left: 0;
        width: 100%;
        padding: 0;
    }
    .wrapper{
        width: 100%;
        flex-wrap: wrap;
        padding: 0;
        margin:0;
        flex-basis: auto;
    }
    .input_search{
        width: 80%;
    }
}
@media only screen and (min-width: 600px){
.navbar{
    top: 0;
    width: 5rem;
    height: 100vh;
}
.navbar:hover{
    width: 16rem;
}
.navbar:hover .link-text{
    display: inline;
    transition: opacity var(--transition-speed);
}
.select-box{
    width: 500px;
}

}