<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/pdf.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
</head>
<body>
    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="logo">
                <a href="/" class="nav-link">
                    <span class="link-text">DEV.HMZ</span>
                    <i class="fas fa-arrow-right"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="/" class="nav-link">
                    <i class="fas fa-home"></i>
                    <span class="link-text">home</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/video" class="nav-link">
                    <i class="fas fa-video"></i>
                    <span class="link-text">Video</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/pdf" class="nav-link">
                    <i class="fas fa-file-pdf"></i>
                    <span class="link-text">Pdf</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fas fa-users"></i>
                    <span class="link-text">Web-profile</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="main">
        <div class="container">
           <div class="card">
               <div class="card-body">
                   <h2 class="h2">Fill the details</h2>
                   <form action="/im" method="POST">
                       <div class="row">
                           <div class="col">
                               <div class="input">
                                   <label class="label">Name</label>
                                    <input type="text" name="user[name]" id="" placeholder="name">
                                </div>
                           </div>
                           <div class="col">
                            <div class="input">
                                <label class="label">name of experiment</label>
                                 <input type="text" name="user[exp]" id="" placeholder="exp">
                             </div>
                           </div>
                       </div>
                       <div class="row">
                        <div class="col">
                            <div class="input">
                                <label class="label">Aim</label>
                                 <input type="text" name="user[aim]" id="" placeholder="Aim">
                             </div>
                        </div>
                        <div class="col">
                         <div class="input">
                             <label class="label">Instruments</label>
                              <input type="text" name="user[inst]" id="" placeholder="instrument">
                          </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="input">
                                <label class="label"> choose colour</label>
                                 <input type="color" name="user[color]" id="" placeholder="size">
                             </div>
                        </div>
                        <div class="col">
                         <div class="input">
                             <label class="label">date</label>
                              <input type="date" name="user[date]" id="" placeholder="exp">
                          </div>
                        </div>
                    </div>
                    <input type="submit" class="submit" value="Submit" onclick="window.location.href='/im'"/>
                   </form>
               </div>
           </div>
            </div>
        </div>
    </div>
</body>
</html>