<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Get PDF</title>
  </head>
  <body>
    <form action="/pd" method="POST">
      <input type="submit" value="CLick here to donwload" />
    </form>

    <div id=""></div>

    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://unpkg.com/pdf-lib/dist/pdf-lib.min.js"></script> -->
    <!-- <script src="trans.js"></script> -->
  </body>
</html>
